/** SASS ****************************/
/** GENERAL ****************************/
/* line 14, ../sass/stanford_jumpstart_home.scss */
.big-text {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

/* line 21, ../sass/stanford_jumpstart_home.scss */
.infotext {
  font-size: 4em;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 0;
  letter-spacing: -0.05em;
}

/** LAYOUT: LOMITA ************************
	- Full-bleed background image
	- Big text block
	- Video block
******************************************/
/* line 36, ../sass/stanford_jumpstart_home.scss */
.stanford-jumpstart-home-lomita .site-main-menu {
  background: transparent;
}

/* line 41, ../sass/stanford_jumpstart_home.scss */
.stanford-jumpstart-home-lomita.style-custom-styles-bright .navbar {
  background: #53284f;
}

/** LAYOUT: MAYFIELD ************************
	- Header background image
	- Big text block
	- Quote block
	- Three blocks
******************************************/
/** LAYOUT: PALM ************************
	- 12-column banner with overlay
	- Three blocks
	- Menu not full width
******************************************/
/** LAYOUT: SERRA ************************
	- Color background on header
	- Big text block
	- Infotext block
	- Two-column intro text 
	- Three blocks
******************************************/
/* line 81, ../sass/stanford_jumpstart_home.scss */
.stanford-jumpstart-home-serra .main {
  padding-top: 0;
}

/* line 86, ../sass/stanford_jumpstart_home.scss */
.stanford-jumpstart-home-serra .main-top,
.stanford-jumpstart-home-serra .site-main-menu,
.stanford-jumpstart-home-serra .header {
  background: #e9e6df;
}

/* line 89, ../sass/stanford_jumpstart_home.scss */
.stanford-jumpstart-home-serra .site-main-menu {
  border: 0;
}

/* line 92, ../sass/stanford_jumpstart_home.scss */
.stanford-jumpstart-home-serra .main-top {
  padding-top: 2em;
  margin-bottom: 2em;
}

/** LAYOUT: PANAMA ************************
	- About block
	- Banner image with overlay 
	- Three blocks
******************************************/
