.big-text {
	font-size: 3em;
	font-weight: 500;
	letter-spacing: -0.03em;
	line-height: 1.1em;
	margin-bottom: 0.5em;
}
.infotext {
	font-size: 4em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 0;
    letter-spacing: -0.05em;
}

/** LAYOUT: LOMITA ************************
	- Full-bleed background image
	- Big text block
	- Video block
******************************************/

.stanford-jumpstart-home-lomita {
}
.stanford-jumpstart-home-lomita .site-main-menu {
	background: transparent;
}
.stanford-jumpstart-home-lomita .navbar {
	
}


/** LAYOUT: MAYFIELD ************************
	- Header background image
	- Big text block
	- Quote block
	- Three blocks
******************************************/

.stanford-jumpstart-home-mayfield {

}


/** LAYOUT: PALM ************************
	- 12-column banner with overlay
	- Three blocks
	- Menu not full width
******************************************/

.stanford-jumpstart-home-palm {

}


/** LAYOUT: SERRA ************************
	- Color background on header
	- Big text block
	- Infotext block
	- Two-column intro text 
	- Three blocks
******************************************/

.stanford-jumpstart-home-serra {
	
}
.stanford-jumpstart-home-serra .main {
	padding-top: 0;
}
.stanford-jumpstart-home-serra .main-top,
.stanford-jumpstart-home-serra .site-main-menu,
.stanford-jumpstart-home-serra .header {
	background: #e9e6df;
}
.stanford-jumpstart-home-serra .site-main-menu {
	border: 0;
}
.stanford-jumpstart-home-serra .main-top {
	padding-top: 2em;
	margin-bottom: 2em;
}


/** LAYOUT: PANAMA ************************
	- About block
	- Banner image with overlay 
	- Three blocks
******************************************/

.stanford-jumpstart-home-panama {
	
}