$vivid_clr-page-bkg: 		#ffffff;
$vivid_clr-header-bkg: 	#ffffff;
$vivid_clr-footer-bkg: 	#ffffff;

$vivid_clr-well-bkg: 		#0f6c91;
$vivid_clr-well-grn-bkg: 		#00795d;
$vivid_clr-well-bge-bkg: 		#dbceaa;
$vivid_clr-line: 			#b30000;
$vivid_clr-hr: 			#a2a2a2;
$vivid_clr-img-border: 	#b30000;

$vivid_clr-text: 			#333333;
$vivid_clr-headers: 		#0f6c91;
$vivid_clr-header1: 		#333333;
$vivid_clr-header2: 		#0f6c91;

$vivid_clr-link: 			#00795d;
$vivid_clr-link-hvr: 		#0f6c91;
$vivid_clr-btn-text: 		#f2efea;
$vivid_clr-btn-bkg: 		#0f6c91;
$vivid_clr-btn-bkg-hvr: 	#0f6c91;
$vivid_clr-btn-text-hvr:	#f2efea;

$vivid_clr-menu-text: 	#0f6c91;
$vivid_clr-menu-bkg:		transparent;
$vivid_clr-menu-text-hvr: #0f6c91;
$vivid_clr-menu-bkg-hvr:	transparent;
$vivid_clr-menu-link-border: #ffffff;

$vivid_clr-icons: 		#a2a2a2;